[submodule "mobs_redo"]
	path = mods/content/mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo.git
[submodule "hudbars"]
	path = mods/content/hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "player_monoids"]
	path = mods/content/player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "hbhunger"]
	path = mods/content/hbhunger
	url = https://codeberg.org/Wuzzy/minetest_hbhunger.git
[submodule "i3"]
	path = mods/content/i3
	url = https://github.com/minetest-mods/i3.git
[submodule "hbsprint"]
	path = mods/content/hbsprint
	url = https://github.com/minetest-mods/hbsprint.git
[submodule "3d_armor"]
	path = mods/content/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "newplayer"]
	path = mods/content/newplayer
	url = https://cheapiesystems.com/git/newplayer
[submodule "textures"]
	path = textures
	url = https://github.com/MysticTempest/REFI_Textures.git
[submodule "splooshy_bombs"]
	path = mods/content/splooshy_bombs
	url = https://codeberg.org/ekl/splooshy_bombs.git
[submodule "splooshy_bombs_api"]
	path = mods/content/splooshy_bombs_api
	url = https://codeberg.org/ekl/splooshy_bombs_api.git
[submodule "playereffects"]
	path = mods/content/playereffects
	url = https://repo.or.cz/minetest_playereffects.git
