[submodule "textures"]
	path = textures
	url = https://gitlab.com/zughy-friends-minetest/soothing-32.git/
[submodule "mods/core/mobs_redo"]
	path = mods/core/mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo.git
[submodule "mods/content/animalia"]
	path = mods/content/animalia
	url = https://github.com/ElCeejo/animalia.git
[submodule "mods/content/creatura"]
	path = mods/content/creatura
	url = https://github.com/ElCeejo/creatura.git
[submodule "mods/content/minetest-toolranks"]
	path = mods/content/minetest-toolranks
	url = https://github.com/lisacvuk/minetest-toolranks.git
[submodule "mods/content/3d_armor"]
	path = mods/content/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/content/minetest_hudbars"]
	path = mods/content/minetest_hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "mods/content/player_monoids"]
	path = mods/content/player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "mods/content/hbsprint"]
	path = mods/content/hbsprint
	url = https://github.com/minetest-mods/hbsprint.git
[submodule "mods/content/hunger_ng"]
	path = mods/content/hunger_ng
	url = https://gitlab.com/4w/hunger_ng.git
