[submodule "mods/content/mobs_redo"]
	path = mods/content/mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo.git
[submodule "mods/content/minetest_hudbars"]
	path = mods/content/minetest_hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "mods/content/player_monoids"]
	path = mods/content/player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "mods/content/hunger_ng"]
	path = mods/content/hunger_ng
	url = https://gitlab.com/4w/hunger_ng.git
[submodule "mods/content/i3"]
	path = mods/content/i3
	url = https://github.com/minetest-mods/i3.git
[submodule "mods/content/people"]
	path = mods/content/people
[submodule "mods/content/sprint_lite"]
	path = mods/content/sprint_lite
	url = https://github.com/mt-historical/sprint_lite
[submodule "mods/content/3d_armor"]
	path = mods/content/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/content/newplayer"]
	path = mods/content/newplayer
	url = https://cheapiesystems.com/git/newplayer
